<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
  <head>
    <meta charset="utf-8">
    <title>Title</title>ㅣ
    <link th:href="@{/css/default.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.6.1.js}"></script>
    <script th:inline="javascript">
        function findPwSubmit() {
          $.ajax({
              url: 'sendEmail',
              data: {
                  user_id: $('input[name=user_id]').val()
              },
              dataType: 'text',
              success: function (data) {
                  if (data == 'F') {
                      alert('이메일 전송에 실패했습니다 다시 입력해주세요');
                  } else {
                      location.href = '/find/inputTempPw'
                  }
              },
              beforeSend: function () {
                  $('.loadingArea').show();
              },
              complete: function() {
                  $('.loadingArea').hide();
              },
              fail: function (res) {
                  console.log('checkId: ', res);
              }
          });
        };
</script>
</head>
<body>
<div class="main-container">
    <div class="account block">
        <h2 class="titular">비밀번호 찾기</h2>
        <div class="input-container">
            <input type="text" placeholder="아이디" class="text-input" name="user_id" onkeydown="if (event.keyCode == 13) {findPwSubmit();return false;}" required>
        </div>
        <button type="button" class="sign-in button find_pw_submit_btn" onclick="findPwSubmit();">메일 발송</button>
    </div>
</div>
<div class="loadingArea">
    <span class="loadingText">이메일 전송중입니다. 잠시만 기다려주세요.</span>
</div>

</body>
</html>